
# Created by https://www.toptal.com/developers/gitignore/api/cordova,react
# Edit at https://www.toptal.com/developers/gitignore?templates=cordova,react

### Cordova ###
# gitignore template for the Cordova framework
# website: https://cordova.apache.org/
#
# Recommended template: Node.gitignore

# App platform binaries and built files
/platforms

# Optional to ignore plugin Git clones
#/plugins

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/cordova,react