html,
body,
div,
span,
applet,
object,
iframe,
h1 ,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
button,
input,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,body {
  height: 100%;
}
#root {
  min-height:100%;
  padding:80px 20px 20px 300px;
}

@font-face {
  font-family: 'NanumSquareEB';
  src: url('/fonts/NanumSquareEB.woff') format('woff'),
    url('/fonts/NanumSquareEB.ttf') format('truetype');
  letter-spacing: -0.22px;
}

@font-face {
  font-family: 'NanumSquareB';
  src: url('/fonts/NanumSquareB.woff') format('woff'),
    url('/fonts/NanumSquareB.ttf') format('truetype');
  letter-spacing: -0.22px;
}

@font-face {
  font-family: 'NanumSquareR';
  src: url('/fonts/NanumSquareR.woff') format('woff'),
    url('/fonts/NanumSquareR.ttf') format('truetype');
  letter-spacing: -0.25px;
}


ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  border:none;
  background-color:transparent;
}

button:focus,
input:focus {
  outline: none;
}

strong {
  font-weight: bold;
}


/* input,
textarea,
button,
select {
  outline: none;
  font-family: SpoqaHanSans-Light;
} */

a,
a:Link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: unset;
}

/*common*/
.box-group  {
  display:flex;
  margin:-20px 0 0 -20px;
}
.box-group .white-box {
  width:50%;
  margin:20px 0 0 20px;
}
.box-group .white-box.row-3 {
  width:calc(100% / 3);
}
.box-group + .box-group {
  margin-top:0;
}
